::deep .object-explorer-header-dictionary {
    background-color: color-mix(in lab, orangered 10%, white 100%) !important;
}

::deep .object-explorer-badge-dictionary {
    color: orangered !important;
    outline: 2px solid orangered;
}