::deep .object-explorer-header-enumerable {
    background-color: color-mix(in lab, green 15%, white 100%) !important;
}

::deep div .object-explorer-badge-enumerable {
    color: green !important;
    outline: 2px solid green;
}