::deep .object-explorer-header-object {
    background-color: color-mix(in lab, purple 10%, white 100%) !important;
}

::deep div .object-explorer-badge-object {
    color: purple !important;
    outline: 2px solid purple;
}